
.mt-n1 {
    margin-top: -0.5rem !important;
  }


  #main{
    position:absolute
  }
  .corner-image {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 55%;
    height: 80%;
    opacity: 0.8;
    object-fit: cover;
    object-position: left;
  }
 
  .custom-modal .modal-content {
    background-color: rgba(255, 255, 255, 0.89) !important; /* More opacity */
  }
  
  .custom-modal .modal-header, 
  .custom-modal .modal-footer {
    background-color: rgba(255, 255, 255, 0.79) !important;
  }

  .bmi-card {
    max-width: 500px;
    width: 90%; /* Makes it responsive */
    
  }

  @media (max-width: 768px) {
  
    .corner-image {
      width: 87%; 
      height: 80%;
    }
  }
  
  